<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>mo.com.sleeplessmind.WooshyWindowToTheForeground</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>100E1B0E-4FE6-4D20-880D-1A76493D7FBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C25CB9F4-16AD-40B9-8724-20B3105E0FF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18C10997-27FE-4B40-A45A-AC97DF7EF59E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA949D1A-C6D0-4D25-AD54-86D05D156CB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>882D67DA-1A54-4E17-8C97-7C81093FF707</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B27924E4-85A5-4853-ADD6-EA679085AD02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B27924E4-85A5-4853-ADD6-EA679085AD02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4EA4B43-3C45-498D-8615-B52EFD967438</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>35322F1C-1972-45AF-B0E7-71A08ABB09CF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>100E1B0E-4FE6-4D20-880D-1A76493D7FBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C25CB9F4-16AD-40B9-8724-20B3105E0FF0</key>
		<array/>
		<key>D093C93B-2029-42F6-A33A-24C5277ABC78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA949D1A-C6D0-4D25-AD54-86D05D156CB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA949D1A-C6D0-4D25-AD54-86D05D156CB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>882D67DA-1A54-4E17-8C97-7C81093FF707</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Guillaume Leclerc</string>
	<key>description</key>
	<string>bring windows to the foreground!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Wooshy: Window to the Foreground!</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D093C93B-2029-42F6-A33A-24C5277ABC78</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>start</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>A4EA4B43-3C45-498D-8615-B52EFD967438</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>start</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>18C10997-27FE-4B40-A45A-AC97DF7EF59E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:workflow_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./resources/binaries/WooshyWindowToTheForeground "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FA949D1A-C6D0-4D25-AD54-86D05D156CB9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:next}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>do</string>
						<key>outputlabel</key>
						<string>menu</string>
						<key>uid</key>
						<string>35322F1C-1972-45AF-B0E7-71A08ABB09CF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>do</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B27924E4-85A5-4853-ADD6-EA679085AD02</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>next</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>882D67DA-1A54-4E17-8C97-7C81093FF707</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./resources/binaries/WooshyWindowToTheForeground</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C25CB9F4-16AD-40B9-8724-20B3105E0FF0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>for quick debugging purposes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E93BF5EB-9369-42BE-9B90-9A45D7DF2E13</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>100E1B0E-4FE6-4D20-880D-1A76493D7FBB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Switch macOS Windows with Alfred

*Wooshy: Window to the Foreground!* starts by listing your current visible macOS Windows. The Windows are sorted from the most foreground to the most background. Pick a Window from the Alfred Results and it'll be pushed to the foreground, your caret all ready to act.

![ww](resources/images/ww.png)

## Wooshy

This Workflow was originally made to be used in combination with [Wooshy](https://github.com/godbout/Wooshy.docs), a macOS app that allows you to click on any UI Element of the frontmost window (and more) using the keyboard.

## Need more info?

Head to the [GitHub repository](https://github.com/godbout/WooshyWindowToTheForeground)!</string>
	<key>uidata</key>
	<dict>
		<key>100E1B0E-4FE6-4D20-880D-1A76493D7FBB</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>18C10997-27FE-4B40-A45A-AC97DF7EF59E</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>882D67DA-1A54-4E17-8C97-7C81093FF707</key>
		<dict>
			<key>xpos</key>
			<real>210</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>A4EA4B43-3C45-498D-8615-B52EFD967438</key>
		<dict>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>B27924E4-85A5-4853-ADD6-EA679085AD02</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>C25CB9F4-16AD-40B9-8724-20B3105E0FF0</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>D093C93B-2029-42F6-A33A-24C5277ABC78</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>E93BF5EB-9369-42BE-9B90-9A45D7DF2E13</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>FA949D1A-C6D0-4D25-AD54-86D05D156CB9</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ww</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Workflow Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>workflow_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1</string>
				<key>pairs</key>
				<array>
					<array>
						<string>filter it out from the Alfred Results</string>
						<string>1</string>
					</array>
					<array>
						<string>keep it in Alfred Results</string>
						<string>0</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>filtering out the currently focused Window is preferrable but will slow down the generation of Alfred Results a tad.</string>
			<key>label</key>
			<string>The Currently Focused Window</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>filter_out_focused_window</string>
		</dict>
	</array>
	<key>version</key>
	<string>3.2.0</string>
	<key>webaddress</key>
	<string>https://github.com/godbout/WooshyWindowToTheForeground</string>
</dict>
</plist>
